<table class="central_tabl">
    <tr>
        <td class="central_td" width="25%">
            <a href="{% url 'moscow' %}">
                <img src="{{ STATIC_URL }}elittour/img/menu/10.jpg"style="width: 100%">
            </a>
        </td>
       <td class="central_td" width="25%">
           <a href="{% url 'moscow' %}">
                <img src="{{ STATIC_URL }}elittour/img/menu/30.jpg"style="width: 100%">
            </a>
        </td>
        <td class="central_td" width="25%">
             <a href="{% url 'russia' %}">
                 <img src="{{ STATIC_URL }}elittour/img/menu/11.jpg"style="width: 100%">
             </a>
        </td>
        <td class="central_td"  width="25%">
            <a href="{% url 'grecija' %}">
                <img src="{{ STATIC_URL }}elittour/img/menu/12.jpg"style="width: 100%">
            </a>
        </td>
    </tr>
    <tr>
        <td class="central_td_text"  width="25%" height="40">
            <a href="{% url 'moscow' %}">
                <p class="tab_select_blue">Экскурсии</p>
            </a>
        </td>
       <td class="central_td_text" width="25%" height="40">
            <a href="{% url 'moscow' %}">
                <p class="tab_select_blue">Концерты</p>
           </a>
        </td>
        <td class="central_td_text" width="25%" height="40">
             <a href="{% url 'russia' %}">
                <p class="tab_select_blue">Туры по России</p>
             </a>
        </td>
        <td class="central_td_text" width="25%" height="40">
             <a href="{% url 'grecija' %}">
                <p class="tab_select_blue">Туры в Грецию</p>
             </a>
        </td>
    </tr>
    <tr>
        <td class="central_td" width="25%">
             <img src="{{ STATIC_URL }}elittour/img/menu/13.jpg"style="width: 100%">
        </td>
       <td class="central_td" width="25%">
             <img src="{{ STATIC_URL }}elittour/img/menu/14.jpg"style="width: 100%">

        </td>
        <td class="central_td" width="25%">
              <a href="{% url 'ekzotika' %}">
                <img src="{{ STATIC_URL }}elittour/img/menu/15.jpg"style="width: 100%">
              </a>
        </td>
        <td class="central_td" width="25%">
             <img src="{{ STATIC_URL }}elittour/img/menu/16.jpg"style="width: 100%">

        </td>
    </tr>
    <tr>
        <td class="central_td_text"  width="25%" height="40">
            <a href="{% url 'moscow' %}">
                <p class="tab_select_blue">Автобусные туры Крым, Кавказ</p>
            </a>
        </td>
       <td class="central_td_text" width="25%" height="40">
            <a href="{% url 'moscow' %}">
                <p class="tab_select_blue">Пляжный отдых</p>
           </a>
        </td>
        <td class="central_td_text" width="25%" height="40">
            <a href="{% url 'ekzotika' %}">
                <p class="tab_select_blue">Экзотические туры</p>
            </a>
        <td class="central_td_text" width="25%" height="40">
            <a href="{% url 'moscow' %}">
                <p class="tab_select_blue">Санкт-Петпрбург</p>
           </a>
    </tr>
    <tr>
        <td class="central_td" width="25%">
             <img src="{{ STATIC_URL }}elittour/img/menu/deti.jpg"style="width: 100%">

        </td>
       <td class="central_td" width="25%">
             <img src="{{ STATIC_URL }}elittour/img/menu/18.jpg"style="width: 100%">

        </td>
        <td class="central_td" width="25%">
             <img src="{{ STATIC_URL }}elittour/img/menu/17.jpg"style="width: 100%">

        </td>
        <td class="central_td" width="25%">
            <a href="{% url 'sandom' %}">
             <img src="{{ STATIC_URL }}elittour/img/menu/22.jpg"style="width: 100%">
            </a>

        </td>
     </tr>
    <tr>
        <td class="central_td_text"  width="25%" height="40">
             <a href="{% url 'moscow' %}">
                <p class="tab_select_blue">Детский отдых</p>
            </a>
        </td>
        <td class="central_td_text" width="25%" height="40">
            <a href="{% url 'moscow' %}">
                <p class="tab_select_blue">VIP отдых</p>
            </a>
        </td>
        <td class="central_td_text" width="25%" height="40">
            <a href="{% url 'moscow' %}">
                <p class="tab_select_blue">Лечение в санаториях</p>
            </a>
        <td class="central_td_text" width="25%" height="40">
            <a href="{% url 'sandom' %}">
                <p class="tab_select_blue">Санаторий на дому</p>
            </a>
    </tr>

     <tr>
        <td class="central_td" width="25%">
          <a href="{% url 'zagranpasport' %}">
               <img src="{{ STATIC_URL }}elittour/img/menu/23.jpg"style="width: 100%">
          </a>
        </td>
       <td class="central_td" width="25%">
            <a href="{% url 'bilet' %}">
                <img src="{{ STATIC_URL }}elittour/img/menu/24.jpg"style="width: 100%">
            </a>
       </td>
       <td class="central_td" width="25%">
             <a href="{% url 'transfer' %}">
                <img src="{{ STATIC_URL }}elittour/img/menu/27.jpg"style="width: 100%">
             </a>
       </td>
        <td class="central_td" width="25%">
             <a href="{% url 'avia' %}">
                <img src="{{ STATIC_URL }}elittour/img/menu/29.jpg"style="width: 100%">
             </a>
        </td>
    </tr>
    <tr>
        <td class="central_td_text"  width="25%" height="40">
            <a href="{% url 'zagranpasport' %}">
                <p class="tab_select_blue">Документы<br>на загранпаспорт</p>
            </a>
        </td>
       <td class="central_td_text" width="25%" height="40">
           <a href="{% url 'bilet' %}">
                <p class="tab_select_blue">Билеты<br>на поезд и самолет</p>
            </a>
        </td>
        <td class="central_td_text" width="25%" height="40">
             <a href="{% url 'transfer' %}">
                <p class="tab_select_blue">Трансфер<br>в аэропорт</p>
             </a>
        <td class="central_td_text" width="25%" height="40">
            <a href="{% url 'avia' %}">
                <p class="tab_select_blue">Регистрация на авиарейс</p>
            </a>
        </td>
    </tr>
</table>