<div>
    <table class="tab_all">
        <tr><td class="tab_head">&nbsp;</td></tr>
        <tr><td class="tab_select_red">Горячие предложения</td></tr>
<!--        <tr><td class="tab_midl">&nbsp;</td></tr>
        <tr><td><a href="{% url 'gorjashhie' %}"><p class="tab_text"><img src="{{ STATIC_URL }}elittour/img/menu/ico_special_20x20.gif"style="width: 30px">Горящие туры<img src="{{ STATIC_URL }}elittour/img/menu/ico_special_20x20.gif"style="width: 30px"></p></a></td></tr>
-->     <tr><td><a href="{% url 'avtobusomkmorju' %}"><p class="tab_text">Автобусом к морю: Крым, Кавказ. Все курорты</p></a></td></tr>

        <tr><td><a href="{% url 'turkey' %}"><p class="tab_text" style="color:red">Тёплое море Турции ждет Вас!!!</p></a></td></tr>
        <!--        <tr><td><a href="{% url 'tailand' %}"><p class="tab_text" style="color:red">Сейчас самое время ехать в Тайланд!</p></a></td></tr>
-->
        <tr><td><a href="{% url 'bus-evropa' %}"><p class="tab_text">Автобусные туры в Европу, Беларусь, СНГ</p></a></td></tr>
        <tr><td><a href="{% url 'eks-evropa' %}"><p class="tab_text">Экскурсионные туры в Европу, Беларусь, СНГ</p></a></td></tr>
        <tr><td><a href="{% url 'moscow' %}"><p class="tab_text">Автобусные туры в Москву</p></a></td></tr>
        <tr><td><a href=""><p class="tab_text">Туры в Санкт - Петербург</p></a></td></tr>
        <tr><td><a href="{% url 'russia' %}"><p class="tab_text">Экскурсионные автобусные туры по Росcии</p></a></td></tr>
        <tr><td><a href="{% url 'europe' %}"><p class="tab_text">Экскурсионные туры</p></a></td></tr>
        <tr><td><a href="{% url 'belarus' %}"><p class="tab_text">Туры в Беларусь</p></a></td></tr>
<!--    <li><a href="">Морские круизы</a></li>
    <li><a href="">Лечебно-оздоровительные туры</a></li>
    <li><a href="">Отдых в России</a></li>
    <li><a href="">Пляжный отдых</a></li>
    <li><a href="">Речные круизы</a></li>
    <li><a href="">Свадебные туры</a></li> -->
        <li><tr><td><a href=""><p class="tab_text">Экскурсии для школьников</p></a></td></tr>

        <tr><td class="tab_foot">&nbsp;</td></tr>

        <tr><td class="tab_head">&nbsp;</td></tr>
        <tr><td class="tab_select_red">Часы работы</td></tr>
        <tr><td class="tab_midl">&nbsp;</td></tr>
        <tr><td class="tab_text_1"><p>Понедельник 10-19</p></td></tr>
        <tr><td class="tab_text_1"><p>Вторник&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10-19</p></td></tr>
        <tr><td class="tab_text_1"><p>Среда&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10-19</p></td></tr>
        <tr><td class="tab_text_1"><p>Четверг&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10-19</p></td></tr>
        <tr><td class="tab_text_1"><p>Пятница&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10-19</p></td></tr>
        <tr><td class="tab_text_1"><p class="p-select-red">Суббота&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10-16</p></td></tr>
        <tr><td class="tab_text_1"><p class="p-select-red">Воскресенье 10-16<br>(по предварительной договоренности)</p></td></tr>
        <tr><td class="tab_foot">&nbsp;</td></tr>
        <tr><td class="tab_head">&nbsp;</td></tr>
<!---        <tr><td class="tab_select_blue">Мы в соцсетях</td></tr>
        <tr><td class="tab_midl">&nbsp;</td></tr>
        <tr><td class="tab_midl">
<!-- Put this script tag to the <head> of your page -->
 <!---           <script type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"></script>
<!-- Put this script tag to the place, where the Share button will be -->
<!---            <script type="text/javascript">document.write(VK.Share.button(false,{type: "round", text: "Сохранить"}));</script>
        </td></tr>
        <tr><td class="tab_midl">&nbsp;</td></tr>
        <tr><td class="tab_midl">
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>
            <!-- VK Widget -->
<!---            <div id="vk_groups"></div>
            <script type="text/javascript">
                     VK.Widgets.Group("vk_groups", {mode: 0, width: "300", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 20091349);
            </script>
            <!-- Put this script tag to the <head> of your page -->
<!---            <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>

            <script type="text/javascript">
                 VK.init({apiId: API_ID, onlyWidgets: true});
            </script>
       </td>
            <td>
            </td>
        </tr>
--->         <tr><td class="tab_foot">&nbsp;</td></tr>

    </table>
 </div>
