{% extends 'elittour/country/base_contry.html' %}
{% load bootstrap3 %}

    {% block head %}
        <meta charset="UTF-8">
        <title>Автобусом к морю. Автобусные туры из Серпухова к морю 2016. Автобусом к морю из Тулы. Отдых на Черном и Азовском море. Курорты Крыми и Краснодарского края. Туристическое агентство ЭЛИТ - тур</title>
        <meta name="Description" content="Автобусом к морю. Туристическое агентство ЭЛИТ - тур предлагает автобусные туры из Серпухова и Тулы на курорты Крыма и Краснодарского края. Путешествие автобусом к морю - самый экономичный и удобный вариант отдыха в России.">
        <link href="{{ STATIC_URL }}elittour/img/favicon.ico" rel="shortcut icon"/>
    {% endblock head %}
{% block content %}

    <div id="content">
        <div class="container-fluid">
        {% block article %}
         <!--   {{ block.super }}   -->
        {% endblock article %}
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="responsive">
                                <h1>Автобусом к морю: Крым, Кавказ. Все направления</h1>
                                <div id="df-root">
                                   <h2>ТУРЫ АВТОБУСОМ К МОРЮ — САМЫЙ ЭКОНОМИЧНЫЙ И УДОБНЫЙ ВИД ОТДЫХА!</h2>
                                    <p>Автобусные туры из Серпухова к морю — услуга, к которой с каждым годом прибегает всё большее число жителей нашего региона. И это закономерно, ведь у путешествий автобусом намного больше преимуществ перед конкурентными видами поездок.</p>
                                    <p>Во-первых, такие туры обходятся намного дешевле, чем авиа и железнодорожные.</p>
                                    <p>Во-вторых, добираясь до курортов Краснодарского края автобусом, вы не зависите от благосклонности погоды. Каждый автобус оснащён современным климатическим оборудованием, благодаря чему в салоне всегда поддерживается оптимальная температура. С поездами, согласитесь, далёко не всегда дела обстоят столь благополучно.</p>
                                    <p>В-третьих, наши автобусы доставляют туристов прямо к гостинице, что избавляет от заботы самостоятельно добираться от вокзала или аэропорта.</p>
                                    <p>В-четвёртых, автобусные туры к морю из Серпухова — это очень увлекательно! Сколько удивительных южных пейзажей откроется перед вашим взором из огромных окон нашего комфортабельного автобуса. Историю самых важных зрелищ вам прямо в пути поведает сопровождающий экскурсовод. Так что путешествовать автобусом к морю из Серпухова — это не только быстро и удобно, но и весьма познавательно.</p>
                                    <p>Обращайтесь в туристическое агентство «ЭЛИТ-тур»! Наши маршруты тщательно выверены и проверены не одной сотней ежегодных рейсов. Кроме того, мы отвечаем за здоровье и благополучие своих туристов в продолжение всего автобусного тура."</p>
                                    <h2>АНАПА — ГОЛУБИЦКАЯ</h2>
                                    <h2>АЛУШТА</h2>
                                    <h2>ДЖЕМЕТЕ</h2>
                                    <h2>ЕВПАТОРИЯ/САКИ (Б/О «ПРИБОЙ») — НОВОФЕДОРОВКА</h2>
                                    <h2>КАБАРДИНКА</h2>
                                    <h2>ГЕЛЕНДЖИК</h2>
                                    <h2>ЛАЗАРЕВСКОЕ</h2>
                                    <h2>ЛЕРМОНТОВО</h2>
                                    <h2>СУДАК</h2>
                                    <h2>СУККО</h2>
                                    <h2>ФЕОДОСИЯ</h2>
                                    <h2>ВИТЯЗЕВО</h2>
                                    <h2>БЕРЕГОВОЕ</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                {% include 'elittour/items/right_cont.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
<div id="tours_page_body" class="loading"></div><script>jQuery("#tours_page_body").toursBody({"email": "yerofeeva2011%yandex.ru"});</script>







