{% extends 'elittour/base.html' %}
{% load bootstrap3 %}

    {% block head %}
        <meta charset="UTF-8">
        <title>Экскурсионные туры</title>
        <link href="{{ STATIC_URL }}elittour/img/favicon.ico" rel="shortcut icon"/>
    {% endblock head %}

    {% block content %}
            <div id="content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="responsive">
								<script type="text/javascript" language="JavaScript" src="http://tourclient.ru/f/jsboot/85540/find_exc_tour_form?style=default&conf=default"></script>
								<br>
								<script type="text/javascript" language="JavaScript" src="http://tourclient.ru/f/jsboot/85540/find_exc_tour_offers?style=default&conf=default"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock content %}

