{% extends 'elittour/country/base_contry.html' %}
{% load bootstrap3 %}

    {% block head %}
        <meta charset="UTF-8">
        <title>Туры по Португалии</title>
        <link href="{{ STATIC_URL }}elittour/img/favicon.ico" rel="shortcut icon"/>
    {% endblock head %}

    {% block search %}
                                <div class="responsive">
                                    <script type="text/javascript" language="JavaScript" src="http://tourclient.ru/f/jsboot/85540/find_tour_form?style=bigsearch&conf=default&co=81"></script>
                                </div>

    {% endblock search %}

